# 1. تجاهل مجلدات المخرجات (الملفات المطبوخة)
[Bb]in/
[Oo]bj/

# 2. تجاهل إعدادات الفيجوال ستوديو الشخصية (الملفات المزعجة)
.vs/
*.user
*.suo
*.sln.docstates

# 3. تجاهل ملف تسجيل الدخول (عشان خصوصيتك يا وحش)
Login.txt

# 4. ملفات قواعد البيانات المحلية (إذا وجدت)
*.mdf
*.ldf